@model Cauthu
<div class="col-lg-3 mb-4 text-center">
	<div class="product-entry border">
		<a href="#" class="prod-img">
			<img src="@Url.Content("../images/"+Model.Anh)" class="img-fluid" alt="Free html5 bootstrap 4 template">
		</a>
		<div class="desc">
			<h2><a href="#">@Model.HoVaTen</a></h2>
			<span class="price">@Model.SoAo</span>
		</div>
	</div>
</div>